<ion-view view-title="MTN Acadamy" ng-init="getMyTrainingData()">
  <ion-nav-bar class="bar bar-header bar-light barheader">
   <div ng-hide="hasImage" class="avatar small-avatar-circle"><span>{{initials | uppercase}}</span></div>
   <span ng-show="hasImage" class="avatar"><img ng-src="{{image}}" ng-click="goBack()" style="background-repeat: no-repeat;background-position: 50%;border-radius: 50%;" alt="oval" width="30" height="30"/></span>
   <a href="#" class="dropdown">
     <span  ng-hide="hasImage" class="avatar-text" style="padding-left:18px;" ng-click="goBack()">{{initials | uppercase}}</span> -->
     <!-- <img src="img/oval.png" alt="oval" width="35" height="35"/> -->
      <i ng-show="hasImage" style="margin-left:25px;" class="ion-ios-arrow-down"></i>
     <i ng-hide="hasImage" class="ion-ios-arrow-down"></i>
   </a>
 </ion-nav-bar>
  <ion-content class="bg bg-darkblue bg-listsize" scroll="false">
    <div class="container-fluid form-container">
      <tab-slide-box tab>

        <div class="tsb-icons padding-left padding-right">
          <div class="tsb-ic-wrp">

            <div class="button-bar custom-segment">
              <a href="javascript:;" ng-click="getMyTrainingData();" class="button button-small">MY TRAINING</a>
              <a href="javascript:;" class="button button-small">ALL TRAINING</a>

            </div>
          </div>
        </div>
        <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
          <ion-slide class="tabbed-slider-content" on-swipe-left="getContent();">
            <div class="list mtnAcademy-list">
              <div ng-repeat="training in myTraining">
                <a href="javascript:;" class="item anitem" ng-click="GoToMessaging(training)">
                  <h2 class="training-title">{{training.title}}</h2>
        <i class="budicon-budicon-time"></i><span style="margin-left:4px;margin-right:11px;">{{training.time}}</span>
        <i class="budicon-budicon-calendar"></i><span style="margin-left:4px;">{{training.period}}</span>
                </a>
              </div>
            </div>
          </ion-slide>
          <ion-slide class="tabbed-slider-content">

            <div class="list mtnAcademy-list">
              <div ng-repeat="training in trainings">
                <a href="javascript:;" class="item anitem" ng-click="showConfirm(training);">
                  <h2 class="training-title">{{training.title}}</h2>
                  <i class="budicon-budicon-time"></i><span style="margin-left:4px;margin-right:11px;">{{training.time}}</span>
                  <i class="budicon-budicon-calendar"></i><span style="margin-left:4px;">{{training.period}}</span>
                </a>
              </div>
            </div>

          </ion-slide>
        </ion-slide-box>
      </tab-slide-box>
    </div>
  </ion-content>
  <script id="my-menu.html" type="text/ng-template">
    <ion-popover-view>
      <ion-content scroll="false">
        <div class="list">
          <a class="item" href="" ng-click="closePopover()">
            Training
          </a>
          <a class="item" href="#/training" ng-click="closePopover()">
            Profile
          </a>
        </div>
      </ion-content>
    </ion-popover-view>
  </script>
</ion-view>
