<ion-view>
  <ion-content class="bg bg-darkblue" scroll="true">
    <div class="container form-container padding-20">
      <img src="../img/add_mail.png" alt="login-logo" class="login-logo"/>

      <div class="row text-center">
        <p class="login-message text-center"> Please enter your email address and we'll find events that you have been invited
          to.</p>
      </div>
      <form class="list">
        <ion-list>
          <label class="item item-input item-stacked-label input-field">
            <span class="input-label input-label-text">EMAIL ADDRESS</span>
            <input type="text" placeholder="example@domain.com" />
          </label>
        </ion-list>
        <button class="button button-energized button-outline button-block ">CONTINUE</button>
      </form>
    </div>
  </ion-content>
  <ion-footer-bar align-title="center">
    <button class="button button-energized button-clear button-block ">SKIP</button>
  </ion-footer-bar>
</ion-view>
