<ion-view view-title="MTN Acadamy" ng-init="getMyTrainingData()">
  <ion-nav-bar class="bar bar-header bar-light barheader">
    <span class="avatar" ><img src="img/oval.png" alt="oval" width="35" height="35" /></span>
    <a href="#" class="dropdown">
      <span class="avatar-text" ng-click="goBack();"></span>
      <i class="ion-ios-arrow-down"></i>
    </a>
  </ion-nav-bar>
  <ion-content class="bg bg-darkblue" scroll="false">
    <div class="container-fluid form-container">
      <tab-slide-box>

        <div class="tsb-icons padding-left padding-right">
          <div class="tsb-ic-wrp">

            <div class="button-bar custom-segment">
              <a href="javascript:;" ng-click="getMyTrainingData();" class="button button-small">MY TRAINING</a>
              <a href="javascript:;" class="button button-small">ALL TRAINING</a>

            </div>
          </div>
        </div>
        <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
          <ion-slide class="tabbed-slider-content" on-swipe-left="getContent();">
            <div class="list mtnAcademy-list">
              <div ng-repeat="training in myTraining">
                <a href="#" class="item anitem" ng-click="GoToMessaging(training)">
                  <p class="training-title">{{training.title}}</p>
                  <i class="ion-ios-clock-outline">{{training.time}}</i>
                  <i class="ion-calendar">{{training.period}}</i>
                </a>
              </div>
            </div>
          </ion-slide>
          <ion-slide class="tabbed-slider-content">
            <ion-content style="height:900px;">
            <div class="list mtnAcademy-list">
              <div ng-repeat="training in trainings">
                <a href="#" class="item anitem" ng-click="showConfirm(training);">
                  <p class="training-title">{{training.title}}</p>
                  <i class="ion-ios-clock-outline">{{training.time}}</i>
                  <i class="ion-calendar">{{training.period}}</i>
                </a>
              </div>
            </div>
            </ion-content>
          </ion-slide>
        </ion-slide-box>
      </tab-slide-box>
    </div>
  </ion-content>
  <script id="my-menu.html" type="text/ng-template">
    <ion-popover-view>
      <ion-content scroll="false">
        <div class="list">
          <a class="item" href="" ng-click="closePopover()">
            Training
          </a>
          <a class="item" href="#/training" ng-click="closePopover()">
            Profile
          </a>
        </div>
      </ion-content>
    </ion-popover-view>
  </script>
</ion-view>
