<ion-view title="Page">
    <ion-content padding="'true'" class="has-header">
        <div class="spacer" style="width: 300px; height: 75px;"></div>
        <div>
            <p>
                Sign in with one of your social media profiles and help us complete your profile.
            </p>
        </div>
        <div class="spacer" style="width: 300px; height: 33px;"></div>
        <form class="list"></form>
        <ion-list>
            <ion-item menu-close="" class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item menu-close="" class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
            <ion-item menu-close="" class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
        </ion-list>
        <div class="spacer" style="height: 100px;"></div>
        <button class="button button-energized button-clear button-block ">skip</button>
    </ion-content>
</ion-view>