<ion-view view-title="">
  <!-- <ion-nav-bar class="bar bar-header bar-light barheader">
    <ion-nav-back-button class="button-clear">
      <i class="ion-arrow-left-c"></i>
    </ion-nav-back-button>
  </ion-nav-bar> -->
  <ion-content class="bg bg-darkblue" scroll="false">
    <div class="container signin-container padding-20">
      <div class="text-center">
        <img src="img/add_user.png" alt="login-logo" class="login-logo"/>
      </div>
      <div class="row text-center">
        <p class="message-description text-center">Sign in with one of your social media profiles and help us complete your
          profile.</p>
      </div>
      <div class="list margin-top20">
        <a class="item item-avatar input-field socialmedia" ng-click="registerFacebook()" />
        <img src="img/facebook_icon.png" />

          <h2 class="margin-top20">Facebook</h2>
        </a>

        <a class="item item-avatar list-no-borderLR socialmedia" href="#" ng-click="loginWithLI" />
          <img src="img/linkedin-icon.png">

          <h2 class="margin-top20">Linked In</h2>
        </a>

        <a class="item item-avatar list-no-borderLR socialmedia" ng-click="registerTwitter()" />
          <img src="img/twitter-icon.png">

          <h2 class="margin-top20">Twitter</h2>
        </a>
      </div>


    </div>
  </ion-content>
  <div class="bar-clear bar bar-footer">
    <button ng-click="goToProfile();" class="button button-energized button-clear button-block ">SKIP</button>
  </div>
</ion-view>
