<ion-view view-title="Training">
  <ion-nav-bar class="bar bar-header bar-light barheader">
    <span class="avatar"><img src="img/oval.png" alt="oval" width="35" height="35" /></span>
    <a href="#" class="dropdown">
      <span class="avatar-text" ng-click="goBackt()">Dj</span>
      <i class="ion-ios-arrow-down"></i>
    </a>
  </ion-nav-bar>
  <ion-content class="bg bg-darkblue" scroll="false">
    <div class="container-fluid form-container" style="height: 100%;">
      <tab-slide-box>
        <div class="tsb-icons padding-left padding-right">
          <div class="tsb-ic-wrp">
            <div class="button-bar">
              <a href="javascript:;" class="button">MESSAGES</a>
              <a href="javascript:;" class="button">DELEGATES</a>
            </div>
          </div>
        </div>
        <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
          <ion-slide class="tabbed-slider-content" on-swipe-left="getContent();" >
            <ion-content delegate-handle="userMessageScroll">
            <div class="list mtnAcademy-list main-content" style="height:100%" >
              <div class="list list-container" style="height:calc(100% - 86px); overflow-x:hidden; overflow-y:auto;" ng-repeat="message in messages">
                <div ng-if="user._id !== message.userId">
                  <a href="" class="item item-avatar chat-message">
                    <img src="http://images.layar.com/images/threedtest/icon_high.png?1393237933.0" alt="Tangent" />
                    <p class="training-title">{{message.userId}}</p>
                    <p>{{message.text}}</p>
                  </a>
                </div>
                <div ng-if="user._id === message.userId">
                  <a href="" class="item item-avatar chat-message">
                    <img src="https://media.licdn.com/mpr/mpr/shrink_100_100/AAEAAQAAAAAAAAMQAAAAJDk4MWZkMzFlLWQ1ZTMtNDc1Ny04NmE2LTMwODA2NDM2ZDNiZg.png" alt="Tangent" />
                    <p class="training-title">{{message.userId}}</p>
                    <p>{{message.text.message}}</p>
                  </a>
                </div>
              </div>
              <form name="sendMessageForm">
                <div class="list">
                  <div class="item item-input-inset input-inset">
                    <label class="item-input-wrapper">
                      <input type="text" placeholder="Message" ng-model="chat.message">
                    </label>
                    <a class="button send-btn" type="submit" ng-click="sendMessage(chat)">Send</a>
                  </div>
                </div>
              </form>
            </div>
            </ion-content>
          </ion-slide>
          <ion-slide class="tabbed-slider-content">
            <div class="list mtnAcademy-list">
              <a class="item item-avatar-right input-field" href="#" ng-click="loginWithFB" />
              <img src="http://findicons.com/files/icons/1072/face_avatars/300/d05.png" class="text-left" />
                <h2 class="margin-top10">Djo Bukata</h2>
                <p>hello world</p>

              </a>

              <a class="item item-avatar-right list-no-borderLR" href="#" ng-click="loginWithLI" />
              <img src="https://cdn0.iconfinder.com/data/icons/iconshock_guys/512/matthew.png" class="text-left" />
                <h2 class="margin-top10">Ruaan Erasmus</h2>
                <p>hello world</p>

              </a>

              <a class="item item-avatar-right list-no-borderLR" href="#" ng-click="loginWithTw" />
              <img src="https://media.licdn.com/mpr/mpr/shrink_100_100/AAEAAQAAAAAAAAMQAAAAJDk4MWZkMzFlLWQ1ZTMtNDc1Ny04NmE2LTMwODA2NDM2ZDNiZg.png" class="text-left" />
                <h2 class="margin-top10">Tangent Solutions</h2>
                <p>hello world</p>

              </a>
            </div>
          </ion-slide>
        </ion-slide-box>
      </tab-slide-box>
    </div>
  </ion-content>
  <!--<script id="my-popover.html" type="text/ng-template">-->
    <!--<ion-popover-view>-->
      <!--<ion-content scroll="false">-->
        <!--<div class="list">-->
          <!--<a class="item" href="#"  ng-click="closePopover();">-->
            <!--<img src="img/status-available-icon.png" alt="available" />-->
            <!--Available-->
          <!--</a>-->
          <!--<a class="item" href="#"  ng-click="closePopover();">-->
            <!--<img src="img/status-away.png" alt="away" />-->
            <!--Away-->
          <!--</a>-->
          <!--<a class="item" href="#"  ng-click="closePopover();">-->
            <!--<img src="img/status_do_not_disturb.png" alt="notDisturb" />-->
            <!--Do not disturb-->
          <!--</a>-->
        <!--</div>-->
      <!--</ion-content>-->
    <!--</ion-popover-view>-->
  <!--</script>-->
</ion-view>
