<ion-view view-title="Training">
  <ion-nav-bar class="bar bar-header bar-light barheader">
    <ion-nav-back-button style="display:block;" class="button-clear back-image">
      <i class="ion-arrow-left-c"></i> Back
    </ion-nav-back-button>
    <span class="avatar"><img src="../img/oval.png" alt="oval" width="35" height="35" /></span>
    <a href="#" class="dropdown" ng-click="openPopover($event)">
      <span class="avatar-text">Dj</span>
      <i class="ion-ios-arrow-down"></i>
    </a>
  </ion-nav-bar>
  <ion-content class="bg bg-darkblue" scroll="false">
    <div class="container-fluid form-container">
      <tab-slide-box>
        <div class="tsb-icons padding-left padding-right">
          <div class="tsb-ic-wrp">
            <div class="button-bar">
              <a href="javascript:;" class="button">MESSAGES</a>
              <a href="javascript:;" class="button">DELEGATES</a>
            </div>
          </div>
        </div>
        <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
          <ion-slide class="tabbed-slider-content" on-swipe-left="getContent();">
            <div class="list mtnAcademy-list">
              <a href="#" class="item">
                <p class="training-title">Excel Training</p>
                <i class="ion-ios-clock-outline"> 10:00</i>
                <i class="ion-calendar"> 27-30 September</i>
              </a>
              <a href="" class="item">
                <p class="training-title">Java Training</p>
                <i class="ion-ios-clock-outline"> 10:00</i>
                <i class="ion-calendar"> 27-30 September</i>
              </a>
              <a href="" class="item">
                <p class="training-title">GIBS Mini MBA</p>
                <i class="ion-ios-clock-outline"> 10:00</i>
                <i class="ion-calendar"> 27-30 September</i>
              </a>
            </div>
          </ion-slide>
          <ion-slide class="tabbed-slider-content">
            <div class="list mtnAcademy-list">
              <a href="#" class="item">
                <p class="training-title">Angularjs Training</p>
                <i class="ion-ios-clock-outline"> 10:00</i>
                <i class="ion-calendar"> 27-30 September</i>
              </a>
              <a href="" class="item">
                <p class="training-title">Ruby Training</p>
                <i class="ion-ios-clock-outline"> 10:00</i>
                <i class="ion-calendar"> 27-30 September</i>
              </a>
              <a href="" class="item">
                <p class="training-title">Bootstrap MBA</p>
                <i class="ion-ios-clock-outline"> 10:00</i>
                <i class="ion-calendar"> 27-30 September</i>
              </a>
            </div>
          </ion-slide>
        </ion-slide-box>
      </tab-slide-box>
    </div>
  </ion-content>
  <script id="my-popover.html" type="text/ng-template">
    <ion-popover-view>
      <ion-content scroll="false">
        <div class="list">
          <a class="item" href="#">
            <img src="../img/status-available-icon.png" alt="available" />
            Available
          </a>
          <a class="item" href="#">
            <img src="../img/status-away.png" alt="away" />
            Away
          </a>
          <a class="item" href="#">
            <img src="../img/status_do_not_disturb.png" alt="notDisturb" />
            Do not disturb
          </a>
        </div>
      </ion-content>
    </ion-popover-view>
  </script>
</ion-view>
