<ion-view view-title="{{title}}">
   <ion-nav-bar class="bar bar-header bar-light barheader">
    <span ng-hide="hasImage" class="avatar"><img src="img/oval.png" alt="oval" width="35" height="35"/>{{initials | uppercase}}</span>
    <span ng-show="hasImage" class="avatar"><img ng-src="{{image}}" ng-click="goBackToTraining()" style="background-repeat: no-repeat;background-position: 50%;border-radius: 50%;" alt="oval" width="35" height="35"/></span>
    <a href="#" class="dropdown">
      <span ng-hide="hasImage" class="avatar-text" style="padding-left:18px;" ng-click="goBackToTraining()">{{initials | uppercase}}</span>
      <i ng-show="hasImage" style="margin-left:25px;" class="ion-ios-arrow-down"></i>
     <i ng-hide="hasImage" class="ion-ios-arrow-down"></i>
    </a>
  </ion-nav-bar>
  <ion-content class="bg bg-darkblue bg-listsize" scroll="false">
    <div class="container-fluid form-container" style="height: 100%;">
      <tab-slide-box tab>
        <div class="tsb-icons padding-left padding-right">
          <div class="tsb-ic-wrp">
            <div class="button-bar">
              <a href="javascript:;" class="button button-small">MESSAGES</a>
              <a href="javascript:;" class="button button-small">DELEGATES</a>
            </div>
          </div>
        </div>
        <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
          <ion-slide class="tabbed-slider-content" on-swipe-left="getContent();">

<ion-content delegate-handle="userMessageScroll" class="chat-scroll-content">
              <div class="list mtnAcademy-list main-content message-padding" style="height:100%">
                <div class="list list-container" ng-repeat="message in messages | orderBy: 'datetime'">

                  <a href="javascript:;" class="item item-avatar chat-message" ng-if="user._id !== message.userid">
                    <img src="http://images.layar.com/images/threedtest/icon_high.png?1393237933.0" alt="Tangent"/>
                    <div class="chat-bubble left">
                      <p class="training-title">{{message.username}}</p>
                      <p class="usermessage">{{message.text}}</p>
                    </div>
                  </a>
                  <a href="javascript:;" class="item item-avatar-right chat-message" ng-if="user._id === message.userid">
                      <div class="chat-bubble right">
                        <p class="text-right usermessage">{{message.text}}</p>
                      </div>
                  </a>
                </div>
              
              </div>
             
            </ion-content>
             
            <form name="sendMessageForm" class="form-bottom">
              <div class="list" keyboard-attach>
                <div class="item item-input-inset input-inset">
                  <label class="item-input-wrapper">
                    <input type="text" class="searchField" keyboard-attach placeholder="Message" ng-model="chat.message">
                  </label>
                  <a class="button send-btn" type="submit" ng-click="sendMessage(chat.message)">Send</a>
                </div>
              </div>
            </form>

          </ion-slide>
          <ion-slide class="tabbed-slider-content">
            <div class="list mtnAcademy-list">
              <a class="item item-avatar-right input-field" ng-click="loginWithFB"/>
              <img src="http://findicons.com/files/icons/1072/face_avatars/300/d05.png" class="text-left"/>

              <h2 class="margin-top10">{{message.username}}</h2>

              <p>hello world</p>

              </a>

              <a class="item item-avatar-right list-no-borderLR" ng-click="loginWithLI"/>
              <img src="https://cdn0.iconfinder.com/data/icons/iconshock_guys/512/matthew.png" class="text-left"/>

              <h2 class="margin-top10">Ruaan Erasmus</h2>

              <p>hello world</p>

              </a>

              <a class="item item-avatar-right list-no-borderLR"  ng-click="loginWithTw"/>
              <img
                src="https://media.licdn.com/mpr/mpr/shrink_100_100/AAEAAQAAAAAAAAMQAAAAJDk4MWZkMzFlLWQ1ZTMtNDc1Ny04NmE2LTMwODA2NDM2ZDNiZg.png"
                class="text-left"/>

              <h2 class="margin-top10">Tangent Solutions</h2>

              <p>hello world</p>

              </a>
              <a class="item item-avatar-right list-no-borderLR"  ng-click="loginWithTw"/>
              <img
                src="https://media.licdn.com/mpr/mpr/shrink_100_100/AAEAAQAAAAAAAAMQAAAAJDk4MWZkMzFlLWQ1ZTMtNDc1Ny04NmE2LTMwODA2NDM2ZDNiZg.png"
                class="text-left"/>

              <h2 class="margin-top10">Tangent Solutions</h2>

              <p>hello world</p>

              </a>
            </div>
          </ion-slide>
        </ion-slide-box>
      </tab-slide-box>
    </div>
  </ion-content>
</ion-view>
